.PokeFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: blue;
    width: 400px;
    height: 600px;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
   
}

img {
    width: 100px;
    height: 80px;
}
